h1{
    font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}
p{
    color: white;
}
*{
    background-color: black;
}
.hısoimg{
    border:5px solid white;
    
    }
    

.poster{
    width: 50%;
    margin-left: 25%;
    margin-top: 80px;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;

    
}